@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    color: #999999;
}

/* heading and logo */

h1,
h2 {
    color: #BDE1EF;
    font-family: "Bebas Neue", sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 200;
}

#logo {
    font-size: 400%;
    float: left;
    margin-left: 15px;
}

header a {
    text-decoration: none;
}

/* navigation menu */

#menu {
    font-size: 150%;
    letter-spacing: 3px;
}

#menu li {
    list-style-type: none;
    margin-right: 20px;
    float: right;
}

#menu,
#logo {
    line-height: 80px;
}

#menu a:hover {
    border-bottom: 1px solid;
    color: #BDE1EF;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

.active {
    border-bottom: 1px solid;
    color: #BDE1EF;
}

/* hero image */

.background-style {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.photo-style {
    height: 600px;
    width: 100%;
    background-size: fill;
    background-position: center;
}

#cover-text,
#cover-text h2 {
    color: #fff;
}

#hero-image {
    background: url("../images/roller-skate-home.jpg") no-repeat;
    height: 600px;
    width: 100%;
    background-size: cover;
    background-position: center;

    /* zoom effect when loading home page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* animation zoom */
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

#cover-text {
    font-size: 130%;
    font-family: "Bebas Neue", sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    width: 350px;
    height: 175px;

    padding-top: 40px;
    padding-left: 10px;
    background-color: rgba(48, 82, 234, 0.2);
    bottom: 65px;
    right: 300px;
    position: absolute;
}

/* all about section styling */

#all-about {
    height: 300px;
}

#all-about h1 {
    text-align: center;
    font-size: 300%;
    margin-top: 15px;
}

.left-head {
    padding-top: 30px;
    width: 33%;
    float: left;
}

.right-head {
    padding-top: 30px;
    width: 33%;
    float: right;
}

.middle-head {
    padding-top: 30px;
    width: 33%;
    margin: 0 auto;
}

hr {
    border-top: 1px solid #999999;
    width: 100%;
    margin: 4px 0;
}

.left-col {
    width: 80%;
    float: left;
    margin-left: 20px;
    line-height: 20px;
    margin-right: 50px;
}

.right-col {
    width: 80%;
    float: right;
    margin-left: 10px;
    line-height: 20px;
    margin-right: 50px;
}

.middle-col {
    width: 80%;
    margin: 0 auto;
    margin-left: 10px;
    line-height: 20px;
    margin-right: 50px;
}

/* meetup information */

#meetup div {
    color: white;
    background-color: rgba(0, 0, 0, 0.9);
    width: 33.3%;
    height: 250px;
    float: left;
    padding: 80px 0 0 10px;
    text-align: center;
    border: 3px solid white;
    box-sizing: border-box;
}

#park {
    background-image: url("../images/park-photo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    overflow: hidden;
}

#city {
    background-image: url("../images/dublin-photo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    overflow: hidden;
}

#coast {
    background-image: url("../images/coast-photo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    overflow: hidden;
}

#meetup h2 {
    color: #fff;
}

/* footer styles */

footer {
    height: 200px;
}

.social-links {
    text-align: center;
}

.social-links li {
    display: inline;
}

.social-links i {
    font-size: 200%;
    margin: 3%;
    padding: 5%;
    color: #999999
}

/* tricks page */

#tricks-image {
    background: url("../images/tricks-image.jpg") no-repeat;
    height: 600px;
    width: 100%;
    background-size: cover;
    background-position: center;

    /* zoom effect when loading home page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* animation zoom */
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

/* trick descriptions and videos */

.vid-desc {
    text-align: center;
    width: 80%;
    padding-top: 20px;
    margin: 0 auto;
    line-height: 20px;
}

.vid-desc h2 {
    font-size: 300%;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.vid-desc p {
    border-bottom: 15px;
}

.vids {
    margin-top: 15px;
    width: 560px;
    height: 315px;
}

/* FAQ page styling */

#faq-image {
    background: url("../images/faq-image.jpg") no-repeat;
    height: 600px;
    width: 100%;
    background-size: fill;
    background-position: center;

    /* zoom effect when loading home page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;

    /* animation zoom */
    @keyframes hero-zoom {
        from {
            transform: scale(1);
        }

        to {
            transform: scale(1.1);
        }
    }
}

.intro {
    width: 80%;
    margin: 0 auto;
    line-height: 20px;
    text-align: center;
    padding-top: 25px;
}

.intro h1 {
    font-size: 300%;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 20px;
}

/* contact page */

/* zoom effect when loading home page */
#contact-photo {
    height: 600px;
    width: 100%;
    background: url("../images/contact-photo.jpg") no-repeat;
    background-size: fill;
    background-position: center;
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;

    /* animation zoom */
    @keyframes hero-zoom {
        from {
            transform: scale(1);
        }

        to {
            transform: scale(1.1);
        }
    }
}

#sign-up {
    display: flex;
    justify-content: center;
    text-align: center;
}

#cont-head {
    font-size: 300%;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
}

#sub-form {
    width: 90%;
    max-width: 400px;
    height: 350px;
    text-align: center;
    box-sizing: border-box;
    margin: 8px 0;
}

input[type=text],
input[type=email] {
    margin: 5px 0;
    border-radius: 5px;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.15);
    padding: 10px 50px;
}

input[type=submit] {
    padding: 10px 30px;
    background-color: white;
    color: black;
    border: 3px solid #BDE1EF;
    border-radius: 5px;
}

#button {
    padding: 10px 30px;
    background-color: white;
    color: black;
    border: 3px solid #BDE1EF;
    border-radius: 5px;
    transition-duration: 0.3s;
}

#button:hover {
    background-color: #BDE1EF;
    color: white;
    cursor: pointer;
}

::placeholder {
    text-align: center;
}

/* thank you page */

#thanks {
    padding-top: 100px;
    text-align: center;
}

#thanks h1 {
    font-size: 400%;
}

/* media queries */

/* tablet size screens 1200px and down */

@media screen and (max-width: 1200px) {

    /*home page*/
    #all-about {
        width: 65%;
        height: 700px;
        margin: auto;
        padding: 0;
    }

    .left-head,
    .middle-head,
    .right-head,
    .vid-desc {
        width: inherit;
        margin: 0 auto;
        float: none;
        padding-top: 15px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #meetup>div {
        width: 100%;
        clear: both;
        height: 150px;
        padding: 0;
    }

    .left-col h2,
    .middle-col h2,
    .right-col h2,
    .left-col p,
    .middle-col p,
    .right-col p {
        padding-bottom: 20px;
    }

    hr {
        display: none;
    }

    #park {
        margin-top: 120px;
    }

    /*faq page*/

    .intro {
        padding: 10px 0;
    }

    .intro h1 {
        margin-bottom: 50px
    }

    .intro p {
        margin: 20px;
    }

    /* for smaller tablet size 950px down */

    @media screen and (max-width: 950px) {
        #menu {
            clear: both;
            float: none;
            margin-bottom: 5px;
            line-height: 20px;
        }

        #cover-text {
            left: 0;
        }

        #all-about {
            width: 90%;
            height: 530px;
            float: none;
            margin: auto;
        }

        #menu {
            padding-bottom: 30px;
        }

        /*vids on trick page*/

        .vids {
            height: 168.75px;
            width: 300px;
        }

        .intro {
            height: 150px;
            width: 100%;
        }

        .vid-desc {
            margin: 30px;
        }
    }

    /* for tablet screens 700px and down */

    @media screen and (max-width: 700px) {
        #all-about {
            height: 650px;
        }

        #bubble {
            padding-top: 10px;
        }
    }

    /* for mobile screen 600px and down */

    @media screen and (max-width: 600px) {
        #all-about {
            height: 750px;
        }

        .intro {
            height: 200px;
            padding-bottom: 5px;
        }

        .intro h1 {
            height: 50px;
            line-height: 50px;
            margin-bottom: 50px
        }

        #bubble {
            margin-top: 50px;
        }
    }

    /* for mobile screens 480px and down */

    @media screen and (max-width: 480px) {
        #all-about {
            height: 850px;
        }

        #menu li {
            padding-top: 15px;
            padding-bottom: 15px;
        }

        #bubble {
            margin-top: 90px;
        }

        .vid-desc h2 {
            line-height: 50px;
        }
    }

    /* for mobile screens 436px and down */

    @media screen and (max-width: 436px) {
        #all-about {
            height: 1000px;
        }
    }