@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    color: #999999;
}

/* heading and logo */

h1,
h2 {
    color: #BDE1EF;
    font-family: "Bebas Neue", sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 200;
}

#logo {
    font-size: 400%;
    float: left;
    margin-left: 38%;
}

/* navigation menu */

#menu {
    font-size: 150%;
    letter-spacing: 3px;
    display: inline;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 20px;
}

#menu,
#logo {
    line-height: 80px;
}

#menu a:hover {
    border-bottom: 1px solid;
    color: #BDE1EF;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

.active {
    border-bottom: 1px solid;
    color: #BDE1EF;
}

/* hero image */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#cover-text,
#cover-text h2 {
    color: #fff;
}

#hero-image {
    background: url("../images/roller-skate-home.jpg") no-repeat;
    height: 600px;
    width: 100%;
    background-size: fill;
    background-position: center;

    /* zoom effect when loading home page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* animation zoom */
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

#cover-text {
    font-size: 130%;
    font-family: "Bebas Neue", sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    width: 350px;
    height: 175px;

    padding-top: 40px;
    padding-left: 10px;
    background-color: rgba(48, 82, 234, 0.2);
    bottom: 65px;
    right: 300px;
    position: absolute;
}

/* all about section styling */

#all-about {
    height: 300px;
}

#all-about h1 {
    text-align: center;
    font-size: 300%;
    margin-top: 15px;
}

#description {
    padding-top: 30px;
    width: 33%;
    float: left;
}

#confident {
    padding-top: 30px;
    width: 33%;
    float: right;
}

#benefits {
    padding-top: 30px;
    width: 33%;
    margin: 0 auto;
}

hr {
    border-top: 1px solid #999999;
    width: 100%;
    margin: 4px 0;
}

.description-heading {
    width: 80%;
    float: left;
    margin-left: 10px;
    line-height: 20px;
    margin-right: 50px;
}

.confident-heading {
    width: 80%;
    float: right;
    margin-left: 10px;
    line-height: 20px;
    margin-right: 50px;
}

.benefits-heading {
    width: 80%;
    margin: 0 auto;
    margin-left: 10px;
    line-height: 20px;
    margin-right: 50px;
}

/* meetup information */

#meetup div {
    color: white;
    background-color: rgba(0, 0, 0, 0.9);
    width: 33.3%;
    height: 250px;
    float: left;
    padding: 85px 0 0 10px;
    text-align: center;
    border: 3px solid white;
    box-sizing: border-box;
}

#park {
    background-image: url("../images/park-photo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    overflow: hidden;
}

#city {
    background-image: url("../images/dublin-photo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    overflow: hidden;
}

#coast {
    background-image: url("../images/coast-photo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    overflow: hidden;
}

#meetup h2 {
    color: #fff;
}

/* footer styles */

footer {
    height: 150px;
}

.social-links {
    text-align: center;
}

.social-links li {
    display: inline;
}

.social-links i {
    font-size: 200%;
    margin: 3%;
    padding: 5%;
    color: #999999
}