@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    color: #999999;
}

/* heading and logo */

h1,
h2 {
    color: #00ff55;
    font-family: "Bebas Neue", sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 200;
}

#logo {
    float: left;
    font-size: 400%;
}

/* navigation menu */

#menu {
    font-size: 150%;
    letter-spacing: 3px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 20px;
}

#menu,
#logo {
    line-height: 80px;
}

#menu a:hover {
    border-bottom: 1px solid;
    color: #00ff55;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

.active {
    border-bottom: 1px solid;
    color: #00ff55;
}

/* hero image */

#hero-image {
    height: 600px;
    width: 50%;
    background: url("../images/side-view-female-s-leg-wearing-white-roller-skate-against-tree.jpg") no-repeat;
}